---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.title }}. Blog</title>
  <subtitle>{{ meta.description }}</subtitle>
  <link href="{{ meta.url }}/feed.xml" rel="self"/>
  <link href="{{ meta.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.maintainer }}</name>
    <email>{{ meta.email }}</email>
  </author>
  {% for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ meta.url }}{{ post.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ meta.url }}{{ post.url }}</id>
    <summary>{{ post.data.summary }}</summary>
    <content type="html"><![CDATA[{{ post.content | safe }}]]></content>
  </entry>
  {% endfor %}
</feed>
